<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-8">
            <p>Navn: <%= user.firstName + " " + user.lastName %></p>
            <p>Adresse: <%= user.street + " " + user.houseNumber %></p>
            <p><%= user.zipcode + " " + user.town %></p>
            <p>Telefon: <%= user.phone %></p>
        </div>
        <div class="col-4">
            <img src="<%= user.avatarURL %>" width="200">
        </div>
    </div>

    <a href="#" class="btn btn-primary">Chat</a>

    <div class="row my-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <h4>Vægt</h4>
                        </div>
                        <div class="col-3">
                            <a href="/" class="btn btn-primary float-right">Redigér</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p> Start vægt: <%= user.weightStats.startWeight %></p>
                    <p> Nuværende vægt: <%= user.weightStats.currentWeight %></p>
                    <p> Mål vægt: <%= user.weightStats.targetWeight %></p>
                    <p> Vægt fremskridt: <%= user.weightStats.weightProgress.toFixed(1) %></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row my-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <h4>Træningsprogram</h4>
                        </div>
                        <div class="col-3">
                            <a href="/" class="btn btn-primary float-right">Redigér</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <% user.trainingStats.trainingPases.forEach((trainingPas) => { %>
                            <div class="col-4">
                                <div class="card m-1 my-4">
                                    <div class="card-header text-white bg-dark">
                                        <h5> Pas <%= trainingPas.pasNumber %> </h5>
                                    </div>
                                    <div class="card-body pt-0 bg-light">
                                    <% trainingPas.muscleGroups.forEach((muscleGroup) => { %>
                                        <h5 class="mt-4 text-capitalize"> <%= muscleGroup.name %> </h5>
                                        <div class="list-group list-unstyled" style="position: relative;">
                                            <% muscleGroup.assignedWorkouts.forEach((workout) => { %>
                                                <p href="/workout/<%= workout.name %>" target="_blank" class=" mt-1"> 
                                                    <span class="float-left text-capitalize"> <%= workout.name %> </span> 
                                                    <span class="float-right"> <%= workout.sæt %> sæt af <%= workout.reps %> gentagelser </span>
                                                </p>
                                            <% }) %>
                                        </div>
                                    <% }) %>
                                    </div>        
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <h4>Kostplan</h4>
                        </div>
                        <div class="col-3">
                            <a href="/" class="btn btn-primary float-right">Redigér</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>

</div>

<% include partials/footer %>