<% include partials/header %>


<div class="container">
    <div class="row">
        <div class="col-8">
            <p>Navn: <%= user.firstName + " " + user.lastName %></p>
            <p>Adresse: <%= user.street + " " + user.houseNumber %></p>
            <p><%= user.zipcode + " " + user.town %></p>
            <p>Telefon: <%= user.phone %></p>
        </div>
        <div class="col-4">
            <img src="<%= user.avatarURL %>" width="200">
        </div>
    </div>


    <a href="#" class="btn btn-primary">Chat</a>

    <!-- Vægt Card -->
    <div class="row my-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <h4>Vægt</h4>
                        </div>
                        <div class="col-3">
                            <a href="/" class="btn btn-primary float-right">Redigér</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p> Start vægt: <%= user.weightStats.startWeight %></p>
                    <p> Nuværende vægt: <%= user.weightStats.currentWeight %></p>
                    <p> Mål vægt: <%= user.weightStats.targetWeight %></p>
                    <p> Vægt fremskridt: <%= user.weightStats.weightProgress.toFixed(1) %></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleEdit(id) {
            $("#edit" + id).toggle();
        }
        function toggleEditButtons(pasNumber) {
            $(".editButtons" + pasNumber).toggle();
        };

        function updateWorkout(trainingPas, muscleGroup, workoutName, workoutId) {
            $.ajax({
            type: 'POST',
            url: $("form").attr("action"),
            data: {
                trainingPas: trainingPas,
                muscleGroup: muscleGroup,
                workoutName: workoutName,
                formData: $("#form" + workoutId).serialize()
            }, 
            success: function(response) { 
                $("#name" + workoutId).text(response.newWorkoutName);
                $("#reps" + workoutId).text(response.newWorkoutReps + " gentagelser");
                $("#saet" + workoutId).text(response.newWorkoutSaet + " sæt af");
                $("#edit" + workoutId).hide();


                },
            });
            $("#form" + workoutId).find("input").val("");
        }

        function deleteWorkout(trainingPas, muscleGroup, workoutName, workoutId) {
            $.ajax({
            type: 'POST',
            url: '<%=user._id%>/delete/workout',
            data: {
                trainingPas: trainingPas,
                muscleGroup: muscleGroup,
                workoutName: workoutName,
            }, 
            success: function(response) { 
                $("#noEdit" + workoutId).remove();
                $("#edit" + workoutId).remove();
                },
            });
        }

        
    </script>
    
    <div class="row my-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <h4>Træningsprogram</h4>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary float-right" onclick="appendPas()">Nyt pas</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <% user.trainingStats.trainingPases.forEach((trainingPas) => { %>
                            <div class="col-6">
                                <div class="card m-1 my-4">
                                    <div class="card-header text-white bg-dark">
                                        <div class="row">
                                            <div class="col-8">
                                                <h5> Pas <%= trainingPas.pasNumber %> </h5>
                                            </div>
                                            <div class="col-4">
                                                <button onclick="toggleEditButtons('<%= trainingPas.pasNumber %>')"  class="btn btn-sm btn-success float-right">
                                                    <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
                                                </button>                                                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 bg-light">
                                    <% trainingPas.muscleGroups.forEach((muscleGroup) => { %>
                                        <h5 class="mt-4 text-capitalize"> <%= muscleGroup.name %> </h5>
                                        <div class="list-group list-unstyled" style="position: relative;">
                                            <% muscleGroup.assignedWorkouts.forEach((workout) => { %>
                                                <div id="noEdit<%= workout._id %>" class=" mt-1"> 
                                                    <span class="editButtons<%= trainingPas.pasNumber %>" style="display: none;"> 
                                                        <span onclick="deleteWorkout('<%=trainingPas.pasNumber%>' , '<%= muscleGroup.name %>' , '<%= workout.name %>', '<%= workout._id %>')"> 
                                                            <i class="fa fa-trash text-danger" aria-hidden="true"></i> 
                                                        </span>
                                                        <span onclick="toggleEdit('<%= workout._id %>')"> <i class="fa fa-pencil text-info" aria-hidden="true"></i> </span>
                                                    </span>
                                                    <span id="name<%= workout._id %>"> <%= workout.name %> </span> 
                                                    <span id="reps<%= workout._id %>" class="float-right"> <%= workout.reps %> gentagelser </span>
                                                    <span id="saet<%= workout._id %>" class="float-right mr-1">  <%= workout.saet %> sæt af </span>
                                                </div>
                                                <div id="edit<%= workout._id %>" style="display: none;"  class="mt-1"> 
                                                    <form id="form<%= workout._id %>" class="form-inline" action="<%=user._id%>/update/workout/<%=workout._id%>" type="POST">
                                                        <div class="input-group">
                                                            <input type="text" name="name" class="form-control"  placeholder="Navn">
                                                            <input type="number" name="saet" class="form-control"  placeholder="Sæt">
                                                            <input type="number" name="reps" class="form-control"  placeholder="Gentagelser">                                                          
                                                            <button 
                                                                type="button" 
                                                                onclick="updateWorkout('<%=trainingPas.pasNumber%>' , '<%= muscleGroup.name %>' , '<%= workout.name %>', '<%= workout._id %>')" 
                                                                class="btn btn-primary btn-sm">Gem
                                                        </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            <% }) %>
                                        </div>
                                        <hr>
                                    <% }) %>
                                    </div>        
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <h4>Kostplan</h4>
                        </div>
                        <div class="col-3">
                            <a   href="/" class="btn btn-primary float-right">Nyt pas</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>

</div>

<% include partials/footer %>