<% include partials/header %>

<script>
    function search(){
        let input, filter, ul, li, a, i;
        input = document.getElementById('searchField');
        filter = input.value.toUpperCase();
        ul = document.getElementById('workoutList');
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>

<div class="container">
    <input class="form-control my-3" type="text" id="searchField" onkeyup="search()" placeholder="Søg efter øvelser...">
    
    <ul id="workoutList" class="list-group">
        <% workouts.forEach((workout) => { %>
            <li class="list-group-item">
                <form action="/admin/workouts/update" method="POST">
                    <a class="btn-link text-capitalize" data-toggle="collapse" href="#collapse<%= workout._id %>" role="button" aria-expanded="false" aria-controls="collapse<%= workout._id %>"><%= workout.name %></a>
                    <div id="collapse<%= workout._id %>" class="collapse">
                        <input name="name" style="display: none" value="<%= workout.name %>">
                        <input type="text" name="videoUrl" class="form-control my-2" value="<%= workout.videoUrl %>">
                        <textarea class="form-control my-2" name="description" rows="10"> <%= workout.description %> </textarea>
                        <button class="btn btn-outline-primary pointer float-right" type="submit"> Gem </button>
                    </div>
                </form>
            </li>
        <% }) %>
    </ul>
</div>

<% include partials/footer %>