<% include partials/header %>
	<script>
		$("#home").addClass("active");
		$("#title").text("Hjem");	
	</script>

	<div class="container">

		<p>Nuværende vægt: <%= user.weightStats.currentWeight %>kg</p>
		<% if(user.weightStats.weightProgress != null && user.weightStats.weightProgress != 0){ %>
			<% if(user.weightStats.weightProgress < 0){ %>
				<p>Du har taget <%= Math.abs(user.weightStats.weightProgress).toFixed(1) %>kg på siden du startede</p>
			<% } else { %>
				<p>Du har tabt dig <%= Math.abs(user.weightStats.weightProgress).toFixed(1) %>kg siden du startede</p>
			<% } %>
		<% } %>	

		<form action="/update/weight" method="POST">
			<input type="number" name="weight" step="0.1"/>
			<input type="submit" class="btn btn-primary"/>	
		</form>

		<canvas id="myChart" width="100" height="80"></canvas>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
		<script>

			var ctx = $("#myChart");

			var myChart = new Chart(ctx, {
				type: 'line',
				data: {

					<% 
					let weightDates = []
					let allWeights = []

					user.weightStats.allWeights.forEach((weight) => {
						weightDates.push(JSON.stringify(weight.date));
						allWeights.push(weight.weight);
					}); 

					%>

					labels: [<%- weightDates %>],
					datasets: [{
						label: '# Vægt',
						data: [<%= allWeights %>],
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
						],
						borderColor: [
							'rgba(255,99,132,1)',
						],
						borderWidth: 1,
						fill: true
					}],
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:false
							}
						}]
					}
				}
			});


		</script>

	</div>

<% include partials/footer %>