<% include partials/header %>

<% let trainingStats = user.trainingStats %>

<h4 class="m-1 my-2">Program</h4>
<hr>

<% trainingStats.trainingPases.forEach((trainingPas) => { %>
    <div class="card m-1 my-4">
        <div class="card-header">
            <h5>Pas <%= trainingPas.pasNumber %> </h5>
        </div>
    
        <div class="card-body">
        <% trainingPas.muscleGroups.forEach((muscleGroup) => { %>
            <div class="list-group list-unstyled">
                <h5> <%= muscleGroup.name %> </h5>
                <% muscleGroup.assignedWorkouts.forEach((workout) => { %>
                    <a href="/workout/<%= workout.name %>" target="_blank" class="btn btn-sm btn-primary mt-1"> <%= workout.name %> - <%= workout.sæt %> sæt af <%= workout.reps %> gentagelser</a>
                <% }) %>
            </div>
        <% }) %>
        </div>        
    </div>
<% }) %>

<% include partials/footer %>