<% include partials/header %>
<script>$("#workout").addClass("active");</script>

<div>

    <div class="card mt-4">
        <div class="card-header bg-primary text-white">    
            <h4 class="mb-0 text-capitalize"><%= workout.name %></h4>
        </div>
        <div class="card-body">  
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <% const videoUrl = "https://www.facebook.com/MikaelMunkFitness/videos/1371468532975406/" %>
            <!-- Your embedded video player code -->
            <div class="fb-video" data-href="<%= videoUrl %>" data-width="500" data-show-text="false">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="<%= videoUrl %>">
                        <a href="<%= videoUrl %>">How to Share With Just Friends</a>
                        <p>How to share with just friends.</p>
                        Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Friday, December 5, 2014
                    </blockquote>
                </div>
            </div> 
        </div>
        <p class="px-3"> <%= workout.description %> </p>
    </div>


</div>






<% include partials/footer %>