<% include ../partials/header %>

<style>
    .vertical-line {
        border-right: 1px solid rgba(200,200,200, .7);
    }

    .pointer{
        cursor: pointer;
    }
</style>

<script src="/js/user.js"></script>

<script>
    function deleteUser(userId) {
        $.ajax({
            type: 'POST',
            url: '/admin/delete/' + userId,
            success: function(respones) {
                window.location.replace("/admin");
            }
        });
    }

</script>

    <!-- Modal for deleting user - ONLY SHOWN WHEN "Slet bruger" IS CLICKED -->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bekræft valg</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="pointer" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Er du sikker på, at du vil slette <%= user.firstName + " " + user.lastName %> permanent?</p>
                <p>Denne handling kan <strong>ikke</strong> fortrydes.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary pointer" data-dismiss="modal">Fortryd</button>
                <button type="button" class="btn btn-danger pointer" onclick="deleteUser('<%=user._id%>')">Slet</button>
            </div>
            </div>
        </div>
    </div>

<div class="container mt-4">
    <!-- Delete user, trigger modal -->
    <button type="button" class="btn btn-sm btn-outline-danger float-right pointer" data-toggle="modal" data-target="#deleteUserModal">Slet bruger</button>
    
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-2">
                    <p><strong>Navn:</strong></p>
                    <p><strong>Adresse:</strong></p>
                    <p><strong>E-mail:</strong></p>
                    <p><strong>Telefon:</strong></p>                    
                </div>
                <div class="col-5">
                    <p><%= user.firstName + " " + user.lastName %></p>
                    <p><%= user.street + " " + user.houseNumber %> , <%= user.zipcode + " " + user.town %></p>
                    <p><%= user.username %></p>
                    <p><%= user.phone %></p>                    
                </div>
            </div>
        </div>
        <div class="col-3">
            <img src="<%= user.avatarURL %>" width="200">
        </div>
    </div>
    
    <a href="<%= user._id %>/chat" class="btn btn-outline-success">Chat med bruger </a>

    <% include user-weight %>

    <% include user-training %>

    <% include user-meal-plan %>

</div>

<% include ../partials/footer %>