<div class="row my-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h4>Kostplan</h4>
                    </div>
                    <div class="col-6">
                        <form class="form-inline float-right" action="">
                            <div class="form-group">
                                <select class="form-control">
                                    <% meals.forEach((meal) => { %>
                                        
                                        <option class="form-control"> <%= meal %> </option>
                                    <% }); %>
                                </select>
                                <button class="btn btn-outline-primary ml-2"> Nyt måltid</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="row my-3">
                    <div class="col-6 vertical-line">
                        <p class="my-1"> Kalorier <span class="float-right"> <%= user.foodStats.mealPlan.totalCalories %> </span> </p>        
                        <p class="my-1"> Kalorier idag <span class="float-right"> <%= user.foodStats.mealPlan.caloriesToday %> </span> </p>                                              
                    </div>
                    <div class="col-6">
                        <p class="my-1"> Kulhydrater i alt <span class="float-right"> <%= user.foodStats.mealPlan.totalCarbohydrates %> </span> </p>
                        <p class="my-1"> Fedt i alt <span class="float-right"> <%= user.foodStats.mealPlan.totalFat %></span> </p>
                        <p class="my-1"> Protein i alt <span class="float-right"> <%= user.foodStats.mealPlan.totalProtein %></span> </p>
                    </div>
                </div>  

                <div class="row">
                    <% user.foodStats.mealPlan.meals.forEach((meal) => { %>
                        <div class="col-6">
                            <div class="card my-3">
                                <div class="card-header bg-dark text-white">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5> <%= meal.meal + " - " + meal.calories %> </h5> 
                                        </div>
                                        <div class="col-6">
                                            <button onclick="toggleEditClass('<%= meal._id %>')" class="btn btn-sm btn-success float-right pointer pt-2 ">
                                                <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
                                            </button> 
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-light">
                                    <h5> <%= meal.name %> 
                                        <span onclick="toggleEdit('<%= meal._id + meal.name %>')" class="float-left mr-1 edit<%= meal._id %>" style="display: none;">
                                            <i class="fa fa-pencil text-warning pointer" aria-hidden="true"></i>
                                        </span>  
                                    </h5>
                                    <div id="edit<%= meal._id + meal.name %>" style="display: none">
                                        <form id="form<%= meal.id + meal.name %>" class="form-inline" action="" type="POST">
                                            <div class="input-group">
                                                <input type="text" name="name" class="form-control">
                                                <button 
                                                    type="button" 
                                                    onclick="updateMeal('<%= meal.id %>', '<%= meal.name %>')" 
                                                    class="btn btn-outline-primary btn-sm">Opdater 
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <hr>
                                    <p> <%= meal.details %> 
                                        <span class="float-left mr-1 mt-1 edit<%= meal._id %>" style="display: none;">
                                            <i class="fa fa-pencil text-warning pointer" aria-hidden="true"></i>
                                        </span>  
                                    </p>
                                    <p> <%= meal.description %> 
                                        <span class="float-left mr-1 mt-1 edit<%= meal._id %>" style="display: none;">
                                            <i class="fa fa-pencil text-warning pointer" aria-hidden="true"></i>
                                        </span>  
                                    </p>
        
                                    <ul class="list-group">
                                        <li class="list-group-item p-2"> Kulhydrater: <span class="float-right"><%= meal.carbohydrates %>g </span> </li>
                                        <li class="list-group-item p-2"> Fedt: <span class="float-right"><%= meal.fat %>g </span> </li>
                                        <li class="list-group-item p-2"> Protein:  <span class="float-right"><%= meal.protein %>g </span> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <% }); %>    
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    /* UPDATE */
    function updateMeal(mealId, mealName) {
        $.ajax({
        type: 'POST',
        url: "<%= user._id %>/update/mealName",
        data: {
            mealName: mealName,
            formData: $("#form" + mealId + mealName).serialize()
        }, 

        success: function(response) { 
            location.reload();
            }, 
        });
    }

</script>